/*
--blue: #007bff;
--indigo: #6610f2;
--purple: #6f42c1;
--pink: #e83e8c;
--red: #dc3545;
--orange: #fd7e14;
--yellow: #ffc107;
--green: #28a745;
--teal: #20c997;
--cyan: #17a2b8;
--white: #fff;
--gray: #6c757d;
--gray-dark: #343a40;
--primary: #007bff;
--secondary: #6c757d;
--success: #28a745;
--info: #17a2b8;
--warning: #ffc107;
--danger: #dc3545;
--light: #f8f9fa;
--dark: #343a40;
--breakpoint-xs: 0;
--breakpoint-sm: 576px;
--breakpoint-md: 768px;
--breakpoint-lg: 992px;
--breakpoint-xl: 1200px;  
*/



.divider:after,
.divider:before {
  content: "";
  flex: 1;
  height: 1px;
  background: #eee;
}

.h-custom {
  height: calc(100% - 73px);
}

/*<<<<<<< HEAD*/
@media (max-width: 450px) {
  .h-custom {
    height: 100%;
  }

  .wrapper-content {
    padding: 20px 10px 40px;
    margin-top: 1200px;
    margin-left: -250px;
  }

  .text-navy {
    color: #2f6178 !important;
    font-size: 0.7em;
  }

  .ibox-content{
    display: flex;
    flex-wrap: wrap;
  }


  .col-md-3, .col-md-9 {
    position: relative;
    width: 100%;
    padding-right: 15px;
    margin-left: 259px;
    padding-left: 15px;
  }

  .sidebar.close~.navbar,
  .sidebar.close~.navbar2,
  .sidebar.close~.main,
  .sidebar.close~.footer{
    left: 0;
    width: 100%;
    margin-left: 1px;
  }

  .row ::after{
    margin-left: 50px;
  }

  .info-perfil {
    width: 100%;
    background-color: whitesmoke;
    padding: 20px;
    display: flex;
    flex-wrap: wrap;
  }

  .sidebar .row{
    left: auto;
  }
  .modal-content{
    width: 90%;
    font-size: 0.7em;
    margin-top: 180px;
  }


    .modal-content-art {
      width: 83%;
      font-size: 0.7em;
      margin-top: 180px;
      margin-right: 10px;
  }

  .tbody{
    
  }
}

.vh-100 {
  margin-top: 12%;
  display: flex;
}

.h-custom {
  flex-direction: row;
  justify-content: space-between;
}

.container {
  text-align: left;
  /* necesario para la class .center */
}

.container:after {
  content: "";
  display: table;
  clear: both;
  margin: 0 auto;
}

.left {
  float: left;
}

.center {
  margin: 0 auto;
  display: inline-block;
  color: black;
}


/*MENU VERTICAL */
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap");

ul {
  list-style-type: none;
}

.navbar-right {
  float: right;
  margin-right: -15px;
}

.navbar-right>a {
  color: #FFF;
  font-size: 17px;
}


* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

.sidebar  {
  position: absolute;
  height: 100%;
  width: 260px;
  background: #11101d;
  padding: 15px;
  z-index: 99;
}

.logo {
  font-size: 25px;
  padding: 0 15px;
}

.sidebar a {
  color: #fff;
  text-decoration: none;
}

.menu-content {
  position: relative;
  height: 100%;
  width: 100%;
  margin-top: 40px;
  overflow-y: scroll;
}

.menu-content::-webkit-scrollbar {
  display: none;
}

.menu-items {
  height: 100%;
  width: 100%;
  list-style: none;
  transition: all 0.4s ease;
}

.submenu-active .menu-items {
  transform: translateX(-56%);
}

.menu-title {
  color: #fff;
  font-size: 14px;
  padding: 15px 20px;
}

.item a,
.submenu-item {
  padding: 16px;
  display: inline-block;
  width: 100%;
  border-radius: 12px;
}

.item i {
  font-size: 12px;
}

.item a:hover,
.submenu-item:hover,
.submenu .menu-title:hover {
  background: rgba(255, 255, 255, 0.1);
}

.submenu-item{
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: #fff;
  cursor: pointer;
}

.submenu{
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  right: calc(-100% - 26px);
  height: calc(100% + 100vh);
  background: #11101d;
  display: none;
}

.show-submenu~.submenu {
  display: block;
}

.submenu .menu-title {
  border-radius: 12px;
  cursor: pointer;
}

.submenu .menu-title i {
  margin-right: 10px;
}

.navbar,
.main,
.footer {
  left: 260px;
  width: calc(100% - 260px);
  transition: all 0.5s ease;
  z-index: 1000;
}

.sidebar.close~.navbar,
.sidebar.close~.navbar2,
.sidebar.close~.main,
.sidebar.close~.footer{
  left: 0;
  width: 100%;
}

.navbar-ini {
  width: 100%;
  background-color: #2f6178;
  padding-bottom: 11.5px;
  padding-top: 11.5px;
  display: flex;
  justify-content: space-between;   
  padding-left: 20px;
  padding-right: 20px;
}


.navbar {
  position: fixed;
  color: #fff;
  padding: 15px 20px;
  font-size: 25px;
  background: #2f6178;
  cursor: pointer;
}


/*nav bar 2 inicio*/
.navbar2 {
  display: flex;
  justify-content: space-between;
  left: 260px;
  width: calc(100% - 260px);
  transition: all 0.5s ease;
  z-index: 1000;
  position: fixed;
  color: black;
  padding: 15px 20px;
  font-size: 20px;
  margin-top: 58px;
  background: whitesmoke;
}
/*nav bar 2 fin*/


.main {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  z-index: 100;
  background: #FFF;
}

.main h1 {
  flex: 1;
  color: #11101d;
  font-size: 30px;
  text-align: left;
  margin-left: 15px;

}

.img .imagen_logo {
  margin-right: 75%;
  margin-bottom: 35%;
}

/*FIN MENU*/

.footer {
  position: relative;
  display: flex;
  text-align: center;
  justify-content: center;
  z-index: 100;
  background: #FFF;
}


.main article {
  justify-content: center;
  text-align: left;
}



/*CARRO DE COMPRAS*/
/*! CSS Used from: http://webapplayers.com/inspinia_admin-v2.9.4/css/bootstrap.min.css */
*,
::after,
::before {
  box-sizing: border-box;
}

hr {
  box-sizing: content-box;
  height: 0;
  overflow: visible;
}


p {
  margin-top: 0;
  margin-bottom: 1rem;
}

dl {
  margin-top: 0;
  margin-bottom: 1rem;
}

dt {
  font-weight: 700;
}

dd {
  margin-bottom: .5rem;
  margin-left: 0;
}

strong {
  font-weight: bolder;
}

/*a {
  color: #0056b3;
  text-decoration: none;
  background-color: transparent;
}

a:hover {
  color: #0056b3;
  text-decoration: underline;
}*/

table {
  border-collapse: collapse;
}

button {
  border-radius: 0;
}

button:focus {
  outline: 1px dotted;
  outline: 5px auto -webkit-focus-ring-color;
}

button,
input {
  margin: 0;
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
  overflow: visible;
}

button {
  text-transform: none;
}


button:not(:disabled) {
  cursor: pointer;
}

h2,
h3,
h4,
h5 {
  margin-top: 0;
  margin-bottom: .5rem;
  font-weight: 500;
  line-height: 1.2;
}

/*h2 {
  font-size: 2rem;
}

h3 {
  font-size: 1.75rem;
}

h4 {
  font-size: 1.5rem;
}

h5 {
  font-size: 1.25rem;
}*/

/*! CSS Used from: http://webapplayers.com/inspinia_admin-v2.9.4/css/style.css */
h2,
h3,
h4,
h5 {
font-weight: 100;
}

h2,
h3 {
margin-top: 20px;
margin-bottom: 10px;
}

h2 {
font-size: 24px;
}

h3 {
font-size: 16px;
}

h4 {
font-size: 14px;
}

h5 {
font-size: 12px;
}

h3,
h4,
h5 {
margin-top: 5px;
font-weight: 600;
}




hr {
  margin-top: 1rem;
  margin-bottom: 1rem;
  border: 0;
  border-top: 1px solid rgba(0, 0, 0, .1);
}

.small {
  font-size: 80%;
  font-weight: 400;
}

.row {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  margin-right: -15px;
  margin-left: -15px;
}

.col-md-3,
.col-md-9 {
  position: relative;
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
}

@media (min-width:768px) {
  .col-md-3 {
    -ms-flex: 0 0 25%;
    flex: 0 0 25%;
    max-width: 25%;
  }

  .col-md-9 {
    -ms-flex: 0 0 75%;
    flex: 0 0 75%;
    max-width: 75%;
  }
}

.table {
  width: 100%;
  margin-bottom: 1rem;
  color: #212529;
}

.table td {
  padding: .75rem;
  vertical-align: top;
  border-top: 1px solid #dee2e6;
}

.table-responsive {
  display: block;
  width: 100%;
  overflow-x: auto;
  -webkit-overflow-scrolling: touch;
}

.form-control {
  display: block;
  width: 100%;
  height: calc(1.5em + .75rem + 2px);
  padding: .375rem .75rem;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #495057;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid #ced4da;
  border-radius: .25rem;
  transition: border-color .15s ease-in-out, box-shadow .15s ease-in-out;
}

@media (prefers-reduced-motion:reduce) {
  .form-control {
    transition: none;
  }
}

.form-control:focus {
  color: #495057;
  background-color: #fff;
  border-color: #80bdff;
  outline: 0;
  box-shadow: 0 0 0 .2rem rgba(0, 123, 255, .25);
}

.form-control::placeholder {
  color: #6c757d;
  opacity: 1;
}

.form-control:disabled {
  background-color: #e9ecef;
  opacity: 1;
}

.btn {
  display: inline-block;
  font-weight: 400;
  color: #212529;
  text-align: center;
  vertical-align: middle;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  background-color: transparent;
  border: 1px solid transparent;
  padding: .375rem .75rem;
  font-size: 1rem;
  line-height: 1.5;
  border-radius: .25rem;
  transition: color .15s ease-in-out, background-color .15s ease-in-out, border-color .15s ease-in-out, box-shadow .15s ease-in-out;
}

@media (prefers-reduced-motion:reduce) {
  .btn {
    transition: none;
  }
}

.btn:hover {
  color: #212529;
  text-decoration: none;
}

.btn:focus {
  outline: 0;
  box-shadow: 0 0 0 .2rem rgba(0, 123, 255, .25);
}

.btn:disabled {
  opacity: .65;
}

.btn-primary {
  color: #fff;
  background-color: #007bff;
  border-color: #007bff;
}

.btn-primary:hover {
  color: #fff;
  background-color: #0069d9;
  border-color: #0062cc;
}

.btn-primary:focus {
  box-shadow: 0 0 0 .2rem rgba(38, 143, 255, .5);
}

.btn-primary:disabled {
  color: #fff;
  background-color: #007bff;
  border-color: #007bff;
}

.btn-primary:not(:disabled):not(.disabled):active {
  color: #fff;
  background-color: #0062cc;
  border-color: #005cbf;
}

.btn-primary:not(:disabled):not(.disabled):active:focus {
  box-shadow: 0 0 0 .2rem rgba(38, 143, 255, .5);
}

.btn-sm {
  padding: .25rem .5rem;
  font-size: .875rem;
  line-height: 1.5;
  border-radius: .2rem;
}

.btn-group {
  position: relative;
  display: -ms-inline-flexbox;
  display: inline-flex;
  vertical-align: middle;
}

.btn-group>.btn {
  position: relative;
  -ms-flex: 1 1 auto;
  flex: 1 1 auto;
}

.btn-group>.btn:hover {
  z-index: 1;
}

.btn-group>.btn:active,
.btn-group>.btn:focus {
  z-index: 1;
}

.btn-group>.btn:not(:first-child) {
  margin-left: -1px;
}

.btn-group>.btn:not(:last-child):not(.dropdown-toggle) {
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}

.btn-group>.btn:not(:first-child) {
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}

.float-right {
  float: right !important;
}

.text-center {
  text-align: center !important;
}

.text-muted {
  color: #6c757d !important;
}

@media print {

  *,
  ::after,
  ::before {
    text-shadow: none !important;
    box-shadow: none !important;
  }

  a:not(.btn) {
    text-decoration: underline;
  }

  tr {
    page-break-inside: avoid;
  }

  h2,
  h3,
  p {
    orphans: 3;
    widows: 3;
  }

  h2,
  h3 {
    page-break-after: avoid;
  }

  .table {
    border-collapse: collapse !important;
  }

  .table td {
    background-color: #fff !important;
  }
}

/*! CSS Used from: http://webapplayers.com/inspinia_admin-v2.9.4/font-awesome/css/font-awesome.css */
.fa {
  display: inline-block;
  font: normal normal normal 14px/1 FontAwesome;
  font-size: inherit;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.fa-arrow-left:before {
  content: "\f060";
}

.fa-gift:before {
  content: "\f06b";
}

.fa-shopping-cart:before {
  content: "\f07a";
}

.fa-phone:before {
  content: "\f095";
}

.fa-long-arrow-right:before {
  content: "\f178";
}

.fa-trash:before {
  content: "\f1f8";
}

/*! CSS Used from: http://webapplayers.com/inspinia_admin-v2.9.4/css/animate.css */
.animated {
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}

.fadeInRight {
  -webkit-animation-name: fadeInRight;
  animation-name: fadeInRight;
}
button:focus {
  outline: 0 !important;
}

.btn {
  border-radius: 3px;
  font-size: inherit;
}

.btn:focus {
  box-shadow: none;
}

.btn-xs {
  font-size: 0.7rem;
  padding: 0.2rem 0.4rem;
}

.btn-sm {
  font-size: .8rem;
}

.btn-primary.btn-outline {
  color: #2f6178;
}

.btn-primary.btn-outline:hover {
  color: #fff;
}

.btn:active {
  background-image: none;
  outline: 0;
  -webkit-box-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
  box-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
}

.btn-primary {
  color: #fff;
  background-color: #2f6178;
  border-color: #2f6178;
}

.btn-primary:hover,
.btn-primary:focus {
  background-color: #2f6178;
  border-color: #2f6178;
  color: #FFFFFF;
}

.btn-primary:disabled {
  color: #fff;
  background-color: #2f6178;
  border-color: #2f6178;
}

.btn-primary:not(:disabled):not(.disabled):active {
  color: #fff;
  background-color: #2f6178;
  border-color: #2f6178;
}

.btn-primary:not(:disabled):not(.disabled):active:focus {
  -webkit-box-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
  box-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
}

.btn-white {
  color: inherit;
  background: white;
  border: 1px solid #e7eaec;
}

.btn-white:hover,
.btn-white:focus,
.btn-white:active,
.btn-white:active:focus,
.btn-white:active:hover {
  color: inherit;
  border: 1px solid #d2d2d2;
}

.btn-white:active {
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.15) inset;
}

.btn-white:active {
  background-image: none;
}

.form-control,
.form-control:focus {
  box-shadow: none;
}

.btn-outline {
  color: inherit;
  background-color: transparent;
  transition: all .5s;
}

.btn:focus {
  outline: none !important;
}

.form-control {
  font-size: 0.9rem;
}

.form-control {
  background-color: #FFFFFF;
  background-image: none;
  border: 1px solid #e5e6e7;
  border-radius: 1px;
  color: inherit;
  display: block;
  padding: 6px 12px;
  transition: border-color 0.15s ease-in-out 0s, box-shadow 0.15s ease-in-out 0s;
  width: 100%;
}

.form-control:focus {
  border-color: #2f6178;
}

a {
  cursor: pointer;
}

a:hover,
a:focus {
  text-decoration: none;
}

.font-bold {
  font-weight: 600;
}

.wrapper {
  padding: 0 20px;
}

.wrapper-content {
  padding: 20px 10px 40px;
}

.ibox-content h2,
.ibox-content h3,
.ibox-content h4,
.ibox-title h5 {
  margin-top: 5px;
}

.table>tbody>tr>td {
  border-top: 1px solid #e7eaec;
  line-height: 1.42857;
  padding: 8px;
  vertical-align: top;
}

.ibox {
  clear: both;
  margin-bottom: 25px;
  margin-top: 0;
  padding: 0;
}

.ibox:after,
.ibox:before {
  display: table;
}

.ibox-title {
  background-color: #ffffff;
  border-color: #e7eaec;
  border-image: none;
  border-style: solid solid none;
  border-width: 1px;
  color: inherit;
  margin-bottom: 0;
  padding: 15px 90px 8px 15px;
  min-height: 48px;
  position: relative;
  clear: both;
  -webkit-border-radius: 3px 3px 0 0;
  -moz-border-radius: 3px 3px 0 0;
  border-radius: 2px 2px 0 0;
}

.ibox-content {
  background-color: #ffffff;
  color: inherit;
  padding: 15px 20px 20px 20px;
  border-color: #e7eaec;
  border-image: none;
  border-style: solid;
  border-width: 1px;
}

.ibox-content {
  clear: both;
}

.ibox-title h5 {
  display: inline-block;
  font-size: 14px;
  margin: 0 0 7px;
  padding: 0;
  text-overflow: ellipsis;
  float: none;
}

.text-navy {
  color: #2f6178 !important;
}

.text-muted {
  color: #888888 !important;
}

.m-t-xs {
  margin-top: 5px;
}

.m-t-sm {
  margin-top: 10px;
}

.m-t {
  margin-top: 15px;
}

.m-b-none {
  margin-bottom: 0;
}

.cart-product-imitation {
  text-align: center;
  padding-top: 30px;
  height: 80px;
  width: 80px;
  
}

table.shoping-cart-table {
  margin-bottom: 0;
}

table.shoping-cart-table tr td {
  border: none;
  text-align: right;
}

table.shoping-cart-table tr td.desc,
table.shoping-cart-table tr td:first-child {
  text-align: left;
}

table.shoping-cart-table tr td:last-child {
  width: 80px;
}

.product-name {
  font-size: 16px;
  font-weight: 600;
  color: #676a6c;
  display: block;
  margin: 2px 0 5px 0;
}

.product-name:hover,
.product-name:focus {
  color: #2f6178;
}

/*! CSS Used keyframes */
@-webkit-keyframes fadeInRight {
  0% {
    opacity: 0;
    -webkit-transform: translateX(20px);
    transform: translateX(20px);
  }

  100% {
    opacity: 1;
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }
}

@keyframes fadeInRight {
  0% {
    opacity: 0;
    -webkit-transform: translateX(20px);
    -ms-transform: translateX(20px);
    transform: translateX(20px);
  }

  100% {
    opacity: 1;
    -webkit-transform: translateX(0);
    -ms-transform: translateX(0);
    transform: translateX(0);
  }
}

/*CARRO DE COMPRAS*/


/*LOGIN*/

.contenedor {
display: flex;
flex-wrap: wrap;
justify-content: space-between;
width: 90%;
max-width: 1000px;
margin: 0 auto;
margin-top: 50px;
margin-bottom: 50px;
}

.logo {
flex-basis: 40%;
}

.logo img {
max-width: 100%;
height: auto;
}

.formulario {
background-color: #FFFFFF;
flex-basis: 50%;
padding: 30px;
border-radius: 10px;
box-shadow: 0 0 10px rgba(0,0,0,0.3);
}

.formulario h2 {
font-size: 24px;
margin-bottom: 20px;
}

.formulario label {
display: block;
font-size: 18px;
margin-bottom: 5px;
}

.formulario input[type="text"], 
.formulario input[type="email"],
.formulario input[type="password"] {
width: 100%;
padding: 10px;
font-size: 16px;
margin-bottom: 20px;
border-radius: 5px;
border: none;
box-shadow: 0 0 5px rgba(0,0,0,0.1);
}

.formulario input[type="submit"] {
background-color: transparent;
color: #2f6178;
padding: 10px 20px;
font-size: 16px;
/*border: none;*/
border-radius: 6px;
cursor: pointer;
transition: all 0.3s ease;
border-color: #2f6178;
}

.formulario input[type="submit"]:hover {
background-color: #2f6178;
color: white;
}

/*LOGIN*/

/*MEDIA QUERY */
/* Tamaño por defecto pantallas (1280-1024) */
  @media all and (min-width: 1024px) and (max-width: 1280px) { }
  
  /* Tamaño tablet horizontal (1024-768) */
  @media all and (min-width: 768px) and (max-width: 1024px) { }
  
  /* Tamaño tablet (768-480) */
  @media all and (min-width: 480px) and (max-width: 768px) {
    .h-custom {
      height: 100%;
    }
  
    .wrapper-content {
      padding: 20px 10px 40px;
      margin-top: 1200px;
      margin-left: -250px;
    }
  
    .text-navy {
      color: #2f6178 !important;
      font-size: 0.7em;
    }
  
    .ibox-content{
      display: flex;
      flex-wrap: wrap;
    }
  
  
    .col-md-3, .col-md-9 {
      position: relative;
      width: 100%;
      padding-right: 15px;
      margin-left: 259px;
      padding-left: 15px;
    }
  
    .sidebar.close~.navbar,
    .sidebar.close~.navbar2,
    .sidebar.close~.main,
    .sidebar.close~.footer{
      left: 0;
      width: 100%;
      margin-left: 1px;
    }
  
    .row ::after{
      margin-left: 50px;
    }
  
    .info-perfil {
      width: 100%;
      background-color: whitesmoke;
      padding: 20px;
      display: flex;
      flex-wrap: wrap;
    }
  
    .sidebar .row{
      left: auto;
    }
    .modal-content{
      width: 90%;
      font-size: 0.7em;
      margin-top: 180px;
    }
    .modal-content-art {
        width: 83%;
        font-size: 0.7em;
        margin-top: 180px;
        margin-right: 10px;
    }
   }
  
  /* Tamaño teléfonos (480-menos ) */
  @media all and (max-width: 480px) {  }
  
  /*  Orientación: Vertical */
  @media screen and (orientation:portrait) { }
  
  /* Orientación: Horizontal  */
  @media screen and (orientation:landscape) { }
  /*FIN MEDIA QUERY*/
